{{ define "layout" }}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">
    <title>Noobfarm</title>
  </head>
  <body>
    <div id="container">
      {{ template "header" }}
      {{ template "nav" . }}
      <hr />
      {{ template "content" . }}
      <hr />
      {{ template "footer" }}
    </div>
  </body>
</html>
{{ end }}

{{ define "header" }}
<header>
    <img src="/static/noobfarm_logo.png" />

    <h1><em>Noobfarm</em></h1>
</header>
{{ end }}

{{ define "nav" }}
<div id="nav" class="fullwidth">
    {{if .PrevButton}}
    <a href="{{.PrevLink}}">Back</a>
    {{else}}
    <div></div>
    {{end}}
    <div>
        <a href="/">Home</a>
        <a href="/add">Add Quote</a>
    </div>
    {{if .NextButton}}
    <a href="{{.NextLink}}">Next</a>
    {{else}}
    <div></div>
    {{end}}
</div>
{{ end }}

{{ define "footer" }}
<footer>
    &copy Noobfarm | noobfarm.org | noobfarm@noobfarm.org <br />

    <small>Noobfarm.org logo courtesy of k-net. Used with permission from the author.</small>
</footer>
{{ end }}
