body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 0.5em;
    border-collapse: collapse;
}

.bar {
    padding: 0.25em;
    padding-left: 1em;
    background: lightgrey;
}

.bar a {
    text-decoration: none;
    color: black;
}

.top-bar {
    box-shadow: 0px 3px 3px grey;
}

.bottom-bar {
    box-shadow: 0px -3px 3px grey;
}

.card {
    padding: 0.5em;
    margin-bottom: 1em;
    box-shadow: 3px 3px 3px grey;
    border: 1px solid grey;
    border-radius: 3px;
}

.card-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    margin: 0.5em;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.pagination-container a {
    text-decoration: none;
    color: black;
}

.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-element {
    padding: 0.25em;
    margin: 0.25em;
    border: 1px solid grey;
    border-radius: 3px;
}

.pagination-active {
    color: white;
    background: grey;
}

.quotebox {
    width: 90%;
    height: 6em;
    min-height: 4em;
    resize: vertical;
}

#content {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    flex: 1 0 auto;
    padding: 1em;
}

#footer {
    flex-shrink: 0;
}
