{{ define "content" }}
<div class="quotecontainer fullwidth">
  <p>Add your quote below.  Quotes are manually reviewed and so
    your quote will not appear immediately.  If you believe your
    quote has gotten lost in the moderation queue, poke maldridge
    on freenode.</p>
  <form method="POST">
    <textarea name="Quote">
    </textarea>
    <br />
    <br />
    <button type=submit>Add Quote</button>
  </form>
</div>
{{ end }}
