<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">
    <title>Noobfarm</title>
  </head>
  <body>
    <div id="container">
      <header>
        <img src="/static/noobfarm_logo.png" />

        <h1><em>Noobfarm</em></h1>
      </header>
      <div id="nav" class="fullwidth">
        <div></div>
        <a href="/">Home</a>
        <div></div>
      </div>
      <hr />
      <div class="quotecontainer fullwidth">
        <p>Add your quote below.  Quotes are manually reviewed and so
        your quote will not appear immediately.  If you believe your
        quote has gotten lost in the moderation queue, poke maldridge
        on freenode.</p>
        <form method="POST">
          <textarea name="Quote">
          </textarea>
          <br />
          <br />
          <button type=submit>Add Quote</button>
        </form>
      </div>
      <footer>
        <hr />
        &copy Noobfarm | noobfarm.org | noobfarm@noobfarm.org <br />

        <small>Noobfarm.org logo courtesy of k-net. Used with permission from the author.</small>
      </footer>
    </div>
  </body>
</html>
