{{ define "content" }}
<div id="quotes">
    {{range .Quotes}}
    <div class="quotecontainer fullwidth">
        <div class="quoteheader">
            <div><a href="/?id={{.ID}}">#{{.ID}}</a> +({{.Rating}})-</div> <div><span class="orange">Added:</span> {{.DisplayTime}}</div>
        </div>
        <div class="quote">
            {{.Quote}}
        </div>
    </div>
    <hr />
    {{else}}
    <div id="missing">
        No quotes match your query!
    </div>
    {{end}}
</div>
<div id="meta">
    <small>Total Quotes: {{.DBSize}} | Pages in Current Result: {{.Pages}} | Moderation Queue Length: {{.ModerationQueueSize}}</small>
</div>
{{ end }}
